
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=841c6f027d62fc6e24d965611122b2ae
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
